<!DOCTYPE html>
<html>

<head>
	<title>Подтверждение регистрации</title>
</head>

<body>
	<div>
		<h1>Добро пожаловать в наше приложение!</h1>
		<p>Привет, пользователь!</p>
		<p>Благодарим вас за регистрацию в нашем приложении. Пожалуйста, подтвердите свою учетную запись, перейдя по
			следующей ссылке:</p>
		<a href={{link_app}}">Подтвердить
			регистрацию</a>
		<p>Если вы не регистрировались в нашем приложении, просто проигнорируйте это письмо.</p>
		<p>С уважением, <br>Нурсултан в квадрате^^</p>
	</div>
</body>

</html>